.mini-body{
    padding: 20px;
    background-color: red;
}

.main{
    width: 100%;
    height: 60vh;
    background-color: rgb(255, 136, 0);
}

.allproduct{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: violet;
}
.product{
    width: 30%;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    margin: 2%;
}
.margin{
    margin-top: 50px;
}
.banner{
    width: 100%;
    height: 40vh;
    border-radius: 1rem;
    padding: 10px;
    background-color: rgb(83, 0, 0);
}